/* line 7, ../build/sass/main.scss */
body {
  background: #f0f0f0;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 19, ../build/sass/main.scss */
.logo {
  margin: 0;
  padding-top: 10px;
}

/* line 24, ../build/sass/main.scss */
.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  color: transparent;
  background: transparent;
  margin-bottom: 0;
}

/* line 34, ../build/sass/main.scss */
.top-bar-section ul {
  background: transparent;
}
/* line 37, ../build/sass/main.scss */
.top-bar-section ul li:not(.has-form) a:not(.button) {
  background: transparent;
}
/* line 42, ../build/sass/main.scss */
.top-bar-section ul li a {
  display: block;
  background: transparent;
  width: 100%;
  color: #FF2C2A;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
}

/* line 58, ../build/sass/main.scss */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: transparent;
  color: #FF2C2A;
  font-weight: bold;
}

/* line 65, ../build/sass/main.scss */
#textfield h5 {
  color: #FF2C2A;
}

/* line 70, ../build/sass/main.scss */
.forms {
  margin: 0 auto;
}
/* line 72, ../build/sass/main.scss */
.forms h6 {
  color: #FF2C2A;
}

/* line 77, ../build/sass/main.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f0f0f0;
}

/* line 85, ../build/sass/main.scss */
.row {
  padding-top: 20px;
}

/* line 89, ../build/sass/main.scss */
#featured {
  background: url(../images/Banner001.jpg);
  background-size: cover;
  height: 365px;
  width: 970px;
}

/* line 97, ../build/sass/main.scss */
#productFeatureBanner {
  background: url(../images/productBanner.jpg);
}

/* line 103, ../build/sass/main.scss */
.inline {
  margin-left: 185px;
  margin-top: 50px;
}

/* line 108, ../build/sass/main.scss */
.shop {
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  background-color: #ff2c2a;
  margin-top: 265px;
  margin-left: 150px;
  padding: 1rem 1rem 1rem 1.0625rem;
  color: white;
  border-color: #007095;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
}

/* line 114, ../build/sass/main.scss */
.submit {
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  background-color: #ff2c2a;
  margin-top: 265px;
  margin-left: 150px;
  padding: 1rem 1rem 1rem 1.0625rem;
  color: white;
  border-color: #007095;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 4.5rem;
  position: relative;
}

/* line 127, ../build/sass/main.scss */
.frame {
  outline: 1px solid #0f0f0f;
}

/* line 132, ../build/sass/main.scss */
.panel h4 {
  color: #FF2C2A;
}
/* line 135, ../build/sass/main.scss */
.panel h5 {
  font-weight: bold;
  color: #FF2C2A;
}
/* line 139, ../build/sass/main.scss */
.panel h6 {
  font-weight: bold;
}

/* line 145, ../build/sass/main.scss */
.productDesc {
  padding: 5px, 0px, 0px, 0px;
}
/* line 147, ../build/sass/main.scss */
.productDesc h4 {
  color: #FF2C2A;
}
/* line 150, ../build/sass/main.scss */
.productDesc h5 {
  font-weight: bold;
  color: #FF2C2A;
}
/* line 154, ../build/sass/main.scss */
.productDesc h6 {
  font-weight: bold;
}

/* line 162, ../build/sass/main.scss */
.hide-for-small h4 {
  margin-top: 0;
}

/* line 169, ../build/sass/main.scss */
hr {
  border: solid #FF2C2A;
  border-width: 1px 0 0;
  clear: both;
  margin: 0;
  height: 0;
}

/* =============== $Form Input ====================*/
/* line 182, ../build/sass/main.scss */
#textfield {
  height: 80px;
  width: 30%;
}

/* line 187, ../build/sass/main.scss */
.about {
  margin: 0 auto;
}

/* line 192, ../build/sass/main.scss */
.input {
  width: 30%;
  height: 20px;
  margin-bottom: 10px;
}

/* line 199, ../build/sass/main.scss */
.form_focus:focus, .form_hover:hover {
  background-color: #555555;
  opacity: 4;
}

/* line 204, ../build/sass/main.scss */
select {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

/* line 210, ../build/sass/main.scss */
#radio input {
  width: 5%;
  margin-bottom: 5px;
  margin-left: 0;
}

/* line 216, ../build/sass/main.scss */
#radio {
  margin-bottom: 20px;
}

/* line 220, ../build/sass/main.scss */
#slider {
  margin-left: 0;
}

/* line 224, ../build/sass/main.scss */
.float_left {
  float: left;
}

/* line 228, ../build/sass/main.scss */
.float_right {
  float: right;
}

/* line 232, ../build/sass/main.scss */
.clear {
  clear: both;
}

/* line 236, ../build/sass/main.scss */
.round_corner {
  border-radius: 4px;
}
