/* line 6, ../build/sass/main.scss */
body {
  background: #f0f0f0;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 18, ../build/sass/main.scss */
.logo {
  margin: 0;
  padding-top: 10px;
}

/* line 23, ../build/sass/main.scss */
.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  color: transparent;
  background: transparent;
  margin-bottom: 0;
}

/* line 33, ../build/sass/main.scss */
.top-bar-section ul {
  background: transparent;
}
/* line 36, ../build/sass/main.scss */
.top-bar-section ul li:not(.has-form) a:not(.button) {
  background: transparent;
}
/* line 41, ../build/sass/main.scss */
.top-bar-section ul li a {
  display: block;
  background: transparent;
  width: 100%;
  color: #FF2C2A;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
}

/* line 57, ../build/sass/main.scss */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: transparent;
  color: #FF2C2A;
  font-weight: bold;
}

/* line 64, ../build/sass/main.scss */
#textfield h5 {
  color: #FF2C2A;
}

/* line 69, ../build/sass/main.scss */
.forms {
  margin: 0 auto;
}
/* line 71, ../build/sass/main.scss */
.forms h6 {
  color: #FF2C2A;
}

/* line 76, ../build/sass/main.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f0f0f0;
}

/* line 84, ../build/sass/main.scss */
.row {
  padding-top: 20px;
}

/* line 89, ../build/sass/main.scss */
#featured {
  padding-left: 10px;
}
/* line 91, ../build/sass/main.scss */
#featured h3 {
  padding-top: 100px;
  color: #FF2C2A;
}

/* line 97, ../build/sass/main.scss */
#featured {
  background: url(../images/Banner001.jpg);
  background-size: cover;
  height: 365px;
  width: 970px;
}

/* line 105, ../build/sass/main.scss */
#productFeatureBanner {
  background: url(../images/productBanner.jpg);
}

/* line 111, ../build/sass/main.scss */
.inline {
  margin-left: 185px;
  margin-top: 50px;
}

/* line 116, ../build/sass/main.scss */
.shop {
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  background-color: #ff2c2a;
  margin-top: 40px;
  margin-left: 150px;
  padding: 1rem 1rem 1rem 1.0625rem;
  color: white;
  border-color: #007095;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
}

/* line 121, ../build/sass/main.scss */
a:hover {
  color: white;
  background-color: #BD2C2A;
}

/* line 127, ../build/sass/main.scss */
.submit {
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  background-color: #ff2c2a;
  margin-top: 265px;
  margin-left: 150px;
  padding: 1rem 1rem 1rem 1.0625rem;
  color: white;
  border-color: #007095;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 4.5rem;
  position: relative;
}

/* line 140, ../build/sass/main.scss */
.frame {
  outline: 1px solid #0f0f0f;
}

/* line 145, ../build/sass/main.scss */
.panel h4 {
  color: #FF2C2A;
}
/* line 148, ../build/sass/main.scss */
.panel h5 {
  font-weight: bold;
  color: #FF2C2A;
}
/* line 152, ../build/sass/main.scss */
.panel h6 {
  font-weight: bold;
}

/* line 158, ../build/sass/main.scss */
.productDesc {
  padding: 5px, 0px, 0px, 0px;
}
/* line 160, ../build/sass/main.scss */
.productDesc h4 {
  color: #FF2C2A;
}
/* line 163, ../build/sass/main.scss */
.productDesc h5 {
  font-weight: bold;
  color: #FF2C2A;
}
/* line 167, ../build/sass/main.scss */
.productDesc h6 {
  font-weight: bold;
}

/* line 173, ../build/sass/main.scss */
.hide-for-small h4 {
  margin-top: 0;
}

/* line 178, ../build/sass/main.scss */
hr {
  border: solid #FF2C2A;
  border-width: 1px 0 0;
  clear: both;
  margin: 0;
  height: 0;
}

/* =============== $Icons ====================*/
/* line 188, ../build/sass/main.scss */
.iconBox {
  width: 100px;
  height: 100px;
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff2c2a), color-stop(100%, #9f0801));
  background: -webkit-linear-gradient(top, #ff2c2a, #9f0801);
  background: -moz-linear-gradient(top, #ff2c2a, #9f0801);
  background: -o-linear-gradient(top, #ff2c2a, #9f0801);
  background: linear-gradient(top, #ff2c2a, #9f0801);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 195, ../build/sass/main.scss */
.iconBox:after {
  content: " ";
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 205, ../build/sass/main.scss */
.iconBox .inner-border {
  width: 96px;
  height: 93px;
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  border-top: 1px solid #fff;
  overflow: hidden;
}
/* line 215, ../build/sass/main.scss */
.iconBox .inner-border:before {
  content: " ";
  display: block;
  width: 93px;
  height: 100%;
  position: absolute;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#9f0801)) 1 100%;
  border-width: 1px;
  border-style: solid;
  z-index: 5;
}
/* line 227, ../build/sass/main.scss */
.iconBox .inner-border:after {
  content: " ";
  background: green;
  display: block;
  width: 200px;
  height: 93px;
  position: absolute;
  top: -50px;
  left: -50px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, #ff2c2a));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3), #ff2c2a);
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3), #ff2c2a);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.3), #ff2c2a);
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.3), #ff2c2a);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 243, ../build/sass/main.scss */
.iconBox .logo {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  left: 25%;
  top: 25%;
}
/* line 253, ../build/sass/main.scss */
.iconBox .logo #logo {
  fill: white;
  height: 50px;
  width: 50px;
}

/* line 263, ../build/sass/main.scss */
.iconBanner .iconBox {
  margin: 0 auto;
}
/* line 266, ../build/sass/main.scss */
.iconBanner .panel {
  text-align: center;
}

/* =============== $Form Input ====================*/
/* line 275, ../build/sass/main.scss */
.contact .row {
  padding-top: 0;
}

/* line 280, ../build/sass/main.scss */
.forms {
  width: 50%;
  padding-top: 0;
}

/* line 286, ../build/sass/main.scss */
#textfield {
  height: 80px;
  width: 100%;
}

/* line 291, ../build/sass/main.scss */
.about {
  margin: 0 auto;
}

/* line 296, ../build/sass/main.scss */
.input {
  width: 30%;
  height: 20px;
  margin-bottom: 10px;
}

/* line 303, ../build/sass/main.scss */
.form_focus:focus, .form_hover:hover {
  background-color: #555555;
  opacity: 4;
}

/* line 309, ../build/sass/main.scss */
select {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

/* line 316, ../build/sass/main.scss */
article h5 {
  padding-left: 245px;
}

/* line 321, ../build/sass/main.scss */
#radio input {
  width: 5%;
  margin-bottom: 5px;
  margin-left: 0;
}

/* line 327, ../build/sass/main.scss */
#radio {
  margin-bottom: 20px;
}

/* line 331, ../build/sass/main.scss */
#slider {
  margin-left: 0;
}

/* line 335, ../build/sass/main.scss */
.float_left {
  float: left;
}

/* line 339, ../build/sass/main.scss */
.float_right {
  float: right;
}

/* line 343, ../build/sass/main.scss */
.clear {
  clear: both;
}

/* line 347, ../build/sass/main.scss */
.center {
  margin: 0 auto;
}

/* line 351, ../build/sass/main.scss */
.round_corner {
  border-radius: 4px;
}
