/* line 8, ../../build/sass/main.scss */
body {
  background: black;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 20, ../../build/sass/main.scss */
.logo {
  margin: 0;
  padding-top: 10px;
}

/* line 25, ../../build/sass/main.scss */
.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  color: transparent;
  background: transparent;
  margin-bottom: 0;
}

/* line 35, ../../build/sass/main.scss */
.top-bar-section ul li > a {
  display: block;
  background: transparent;
  width: 100%;
  color: #FF2C2A;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
}

/* line 47, ../../build/sass/main.scss */
.top-bar-section ul {
  background: transparent;
}
/* line 50, ../../build/sass/main.scss */
.top-bar-section ul li:not(.has-form) a:not(.button) {
  background: transparent;
}

/* line 55, ../../build/sass/main.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f0f0f0;
}

/* line 63, ../../build/sass/main.scss */
.row {
  padding-top: 20px;
}

/* line 67, ../../build/sass/main.scss */
#featured {
  background: url(../images/Banner001.jpg);
  background-size: cover;
  height: 365px;
  width: 970px;
}

/* line 75, ../../build/sass/main.scss */
#productFeatureBanner {
  background: url(../images/productBanner.jpg);
}

/* line 81, ../../build/sass/main.scss */
.inline {
  margin-left: 185px;
  margin-top: 50px;
}

/* line 86, ../../build/sass/main.scss */
.shop {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 265px;
  margin-left: 150px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.0625rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: #FF2C2A;
  border-color: #007095;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  font-size: 1rem;
}

/* line 114, ../../build/sass/main.scss */
.submit {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.0625rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: #FF2C2A;
  border-color: #007095;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  font-size: 1rem;
}

/* line 141, ../../build/sass/main.scss */
.frame {
  outline: 1px solid #0f0f0f;
}

/* =============== $Form Input ====================*/
/* line 152, ../../build/sass/main.scss */
#textfield {
  height: 80px;
  width: 80%;
}

/* line 157, ../../build/sass/main.scss */
input {
  width: 50%;
  height: 20px;
  margin-bottom: 10px;
}

/* line 163, ../../build/sass/main.scss */
.form_focus:focus, .form_hover:hover {
  background-color: #555555;
  opacity: 4;
}

/* line 168, ../../build/sass/main.scss */
select {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

/* line 174, ../../build/sass/main.scss */
#radio input {
  width: 5%;
  margin-bottom: 5px;
  margin-left: 0;
}

/* line 180, ../../build/sass/main.scss */
#radio {
  margin-bottom: 20px;
}

/* line 184, ../../build/sass/main.scss */
#slider {
  margin-left: 0;
}

/* line 188, ../../build/sass/main.scss */
.float_left {
  float: left;
}

/* line 192, ../../build/sass/main.scss */
.float_right {
  float: right;
}

/* line 196, ../../build/sass/main.scss */
.clear {
  clear: both;
}

/* line 200, ../../build/sass/main.scss */
.round_corner {
  border-radius: 4px;
}
